@font-face {
  font-family: Roboto; 
  src: url("../g-fonts/Thin/Roboto-Thin.woff2?v=1.1.0") format("woff2"), url("../g-fonts/Thin/Roboto-Thin.woff?v=1.1.0") format("woff"), url("../g-fonts/Thin/Roboto-Thin.ttf?v=1.1.0") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: Roboto;
  src: url("../g-fonts/Light/Roboto-Light.woff2?v=1.1.0") format("woff2"), url("../g-fonts/Light/Roboto-Light.woff?v=1.1.0") format("woff"), url("../g-fonts/Light/Roboto-Light.ttf?v=1.1.0") format("truetype");
  font-weight: 300;
  font-style: normal; }
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: Roboto;
  src: url("../g-fonts/LightItalic/Roboto-LightItalic.woff2?v=1.1.0") format("woff2"), url("../g-fonts/LightItalic/Roboto-LightItalic.woff?v=1.1.0") format("woff"), url("../g-fonts/LightItalic/Roboto-LightItalic.ttf?v=1.1.0") format("truetype");
  font-weight: 300;
  font-style: italic; }
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: Roboto;
  src: url("../g-fonts/Regular/Roboto-Regular.woff2?v=1.1.0") format("woff2"), url("../g-fonts/Regular/Roboto-Regular.woff?v=1.1.0") format("woff"), url("../g-fonts/Regular/Roboto-Regular.ttf?v=1.1.0") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: Roboto;
  src: url("../g-fonts/Italic/Roboto-Italic.woff2?v=1.1.0") format("woff2"), url("../g-fonts/Italic/Roboto-Italic.woff?v=1.1.0") format("woff"), url("../g-fonts/Italic/Roboto-Italic.ttf?v=1.1.0") format("truetype");
  font-weight: 400;
  font-style: italic; }


  html {
  overflow-y: scroll;
}
body {
  background-color:rgb(253,253,253);
  margin: 0px;
  font-size:12px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif ;
  font-weight:300;
  color:rgb(50,50,50);
  /*-webkit-font-smoothing: antialiased;  Fix for webkit rendering */
  width:100%;
  min-width:auto;
   -webkit-tap-highlight-color: transparent;
   /*overflow:hidden;*/ }



.module_full_cont {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  width:100%;
  position:relative;
  /*z-index:5;*/ }

.module_full_bg {
  width: 100%; height: 100%;
  background: rgb(0,102,102); /* For browsers that do not support gradients */
  background-image: -webkit-linear-gradient(left top, rgba(8,12,19,0.7),  rgba(0,102,102,.85)), url(img/image-bg.jpg); /* For Safari 5.1 to 6.0 */
  background-image: -o-linear-gradient(bottom right, rgba(8,12,19,0.7),  rgba(0,102,102,.85)), url(img/image-bg.jpg); /* For Opera 11.1 to 12.0 */
  background-image: -moz-linear-gradient(bottom right, rgba(8,12,19,0.7),  rgba(0,102,102,.85)), url(img/image-bg.jpg); /* For Firefox 3.6 to 15 */
  background-image: linear-gradient(to bottom right, rgba(8,12,19,.7),  rgba(0,102,102,.85)), url(img/image-bg.jpg); /* Standard syntax */
  background-repeat:no-repeat;
  background-attachment:fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center center;
  position:relative; }

.module_full_bg.startimg {
  background-image: url(img/image-bg.jpg);
  position:relative; }


  .container_intro { 
  position: absolute;
  left: 50%;
  top: 45%;
   -webkit-transform: translate(-50%, -45%);
    -moz-transform: translate(-50%, -45%); 
    -ms-transform: translate(-50%, -45%); 
    -o-transform: translate(-50%, -45%); 
    transform: translate(-50%, -45%); 
  width: 100%;
  height: auto;
  text-align:center; }


  .row{
  position:relative;
  width:71%;
  letter-spacing:.6px;
  max-width:855px;
  height:auto;
  margin:0 auto;
  text-align:center;
  font-style: normal;
  font-family:"Roboto";
  font-size:3.38em;
  line-height:1.55;
  font-weight:300;
  /*color:#547077;
  border:1px solid red;*/
  color:rgb(253,253,253);
  text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   text-transform:uppercase; }
.row2{
  position:relative;
  width:70%;
  max-width:850px;
  height:auto;
  margin:0 auto;
  text-align:center;
  font-style:normal;
  font-family:"Roboto", Arial, Helvetica, sans-serif;
  font-size:2em;
  line-height:1.55;
  letter-spacing:.785px;
  font-weight:300;
  opacity:1;
  color:#1abc9c;
  text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
  /* -webkit-font-smoothing: subpixel-antialiased;*/ }



  .linea{
  width:100%;
  margin-top:50px;
  text-align:center; }



  .downarrow_cont{
  text-align:center;
  margin:0 auto;
  width:100%;
  max-width:250px;
  margin-bottom:0px;} 
a.down_arrow{
  border-radius:3px;
  background:#547077;
  border-color:#547077;
   -webkit-font-smoothing: antialiased;
  display:inline-block;
  color:#fdfdfd;
  text-align:center;
  outline:none; }
a.down_arrow:hover {
  background:#1abc9c;
  border-color:#1abc9c; }
a.down_arrow, a.down_arrow:hover {
  -moz-transition: all .35s;
  -o-transition: all .35s;
  -ms-transition: all .35s;
  -webkit-transition: all .35s;
    transition: all .35s;
    transition-property: initial;
    transition-duration: 0.35s;
    transition-timing-function: initial;
    transition-delay: initial; }

.down_arrow_txt{
  padding: 6px 20px 5px;
  float:left;
  line-height:1.2;
  font-size:1.6em;
  font-weight:400;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  letter-spacing:.5px;}



.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }




/*For different screens of different size*/

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  top:50%;
  height:357px;
  margin:0 auto; }
.introsvg{
  width:130px;
  height:192px;
  bottom:10px;
  float:none;
  position:relative;
  /*overflow:hidden;*/}
#wolf{
  height:145px;}
#wolf1{
  height:40px;}
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  top:50%;
  height:357px;
  margin:0 auto; }
.introsvg{
  width:130px;
  height:192px;
  bottom:10px;
  float:none;
  position:relative;
  /*overflow:hidden;*/}
#wolf{
  height:145px;}
#wolf1{
  height:40px;}
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  top:50%;
  height:357px;
  margin:0 auto; }
.introsvg{
  width:130px;
  height:192px;
  bottom:10px;
  float:none;
  position:relative;
  /*overflow:hidden;*/}
#wolf{
  height:145px;}
#wolf1{
  height:40px;}
}

/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  top:50%;
  height:357px;
  margin:0 auto; }
.introsvg{
  width:130px;
  height:192px;
  bottom:10px;
  float:none;
  position:relative;
  /*overflow:hidden;*/}
#wolf{
  height:145px;}
#wolf1{
  height:40px;}
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  top:50%;
  height:357px;
  margin:0 auto; }
.introsvg{
  width:130px;
  height:192px;
  bottom:10px;
  float:none;
  position:relative;
  /*overflow:hidden;*/}
#wolf{
  height:145px;}
#wolf1{
  height:40px;}
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  top:50%;
  height:357px;
  margin:0 auto; }
.introsvg{
  width:130px;
  height:192px;
  bottom:10px;
  float:none;
  position:relative;
  /*overflow:hidden;*/}
#wolf{
  height:145px;}
#wolf1{
  height:40px;}
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.introsvg{
  width:130px;
  height:192px;
  bottom:10px;
  float:none;
  position:relative;}
#wolf{
  height:145px;}
#wolf1{
  height:35px;}
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.introsvg{
  width:130px;
  height:192px;
  bottom:10px;
  float:none;
  position:relative; }
#wolf{
  height:145px;}
#wolf1{
  height:35px;}
}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.introsvg{
  width:130px;
  height:192px;
  bottom:10px;
  float:none;
  position:relative; }
#wolf{
  height:145px;}
#wolf1{
  height:35px;}
}
/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
}

/* Portrait */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
}

/* Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
}
/* ----------- Asus Nexus 7 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
}

/* Portrait */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: portrait) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
}

/* Landscape */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) 
  and (orientation: landscape) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
}
/* ----------- Kindle Fire HD 7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
}

/* Portrait */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
}

/* Landscape */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: landscape) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
}

/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
}

/* Portrait */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
}

/* Landscape */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: landscape) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
    
.section_wh, .section_wh2{
  padding-top:50px;
  padding-bottom:50px; }

.container_intro{
  top: 50%;
  margin:0 auto;
  height:374px; }

.row{
  margin:0 auto;
  width:90%;
  max-width:507px;
  margin-top:0px;
  font-size:2.5em;
  /*width:90%;
  padding:0px 0px;*/ }
.row2{
  width:90%;
  max-width:507px; }
.row3{
  width:80%;
  left:10%;
  top:40%;
   -webkit-transform: translate(-1%, -0%);
    -moz-transform: translate(-1%, -0%); 
    -ms-transform: translate(-1%, -0%);
    -o-transform: translate(-1%, -0%);
    transform: translate(-1%, -0%);}

.downarrow_cont{
  position:absolute;
  bottom:0px; }

.linea{
  width:100%;
  text-align:center;
  bottom: 0px; }

.container {
  width: 82.5%;
  margin:0 auto; }

.skilldesc{
  width:auto;
  margin-left:0px;
  margin-bottom:15px; }

div#cookieChoiceInfo {
  font-size:1em !important;
  line-height:25px;
  color:rgb(253,253,253) !important;
  font-weight:400 !important; }

#cookieChoiceInfo > a:nth-child(2),a#cookieChoiceDismiss {
  margin-left: 10px!important;
  font-size:1em !important;
  color:rgb(253,253,253) !important;
  font-weight:400 !important; } 

.module_videoimg,.module_foot {
  background-attachment:local;
   }
.module_videoimg {
  background-size:auto 100%;
  overflow:hidden;
  background-position: 80% 100%;
  top:-50%;
  bottom:-50%;
  left:0;
  right:0; }

.module_full_bg {
  background-attachment:local;
  /*background-size:auto 100%;}*/
  background-position: 20% 50% !important;
  overflow:hidden; }

.footsvg{
  width:125px;
  height:auto;
  float:none;
  position:relative;
  overflow:hidden; }
#polaroid {
  width: 125px; 
  height: 143px;
  margin-top:28px !important; }
#polaroid1 {
  width: 125px;
  height:40px; }

.footin{
  float:none;
  width:100%;
  position:relative;
  margin:0 auto;
  margin-bottom:15px; }
.footsoc_cont{
  float:none;
  margin:0 auto;
  width:165px;}
.footsoc{
  float:left;
  width:55px !important;
  text-align:center; }

.footrowdw{
  float:none;
  width:100%;
  position:relative;
  text-align:center;
  margin:0 auto 40px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-weight:400; }

.text{
  height:auto; }

}

@media only screen and (max-width: 480px) {
.opl {
display: inline-block;
position: absolute;
left: 0;
top: 100px;
z-index:999999;
}

.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }

.section_wh, .section_wh2{
  padding-top:50px;
  padding-bottom:50px; }

.container_intro {
  top: 50%;
  height:367px; }

.introsvg{
  width:120px;
  /*height:auto;*/
  float:none;
  position:relative;
  overflow:hidden;
  margin-bottom:10px; }

.row{
  font-size:2.5em;
  font-weight:400;
  text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased; }
.row2{
  margin:10px auto;
  width:90%%;}
.row3{
  width:85%;
  top:40%;
  left: 8%; }

.downarrow_cont{
  position:absolute;
  bottom:0px; }

.container{
  width:92%;
  margin:0 auto; }

.boxskillsimg{
  margin:0px auto;
  margin-top:-30px; }
  
.skillsimg{
  padding: 0px 2.5%;
  width: 95%;
  display:inline-block;
  float:none;
  position:relative;
  margin-top:30px;}

.cont_skillsimg{
  height:auto; }

.cont_skillsimg img{
  width:75px;
  margin:0 auto;
  margin-top:15px; }
.cont_skillsimg_left object, .cont_skillsimg_right object{
  width:100px; }

.skillstext{
  margin:25px auto 20px;}

.proj_title{
  font-size:2.5em; }

.proj_desc{font-size:1.687em; }

.module_videoimg {
  /*background-size:auto 100%;*/
  overflow:hidden;
  background-position: 80% 100%;
  top:-50%;
  bottom:-50%;
  left:0;
  right:0; }

.footsvg{
  width:125px;
  height:auto;
  float:none;
  position:relative;
  overflow:hidden; }
#polaroid {
  width: 125px; 
  height: 143px;
  margin-top:35px !important; }
#polaroid1 {
  width: 125px;
  height:40px; }

div#cookieChoiceInfo {
  font-size:1em !important;
  color:rgb(253,253,253) !important;
  font-weight:400 !important; }

#cookieChoiceInfo > a:nth-child(2),a#cookieChoiceDismiss {
  font-size:1em !important;
  color:rgb(253,253,253) !important;
  font-weight:400 !important; }

.cookie_container{
  width:91%;
  left:0;
  right:0; }

.module_worksimg, .module_videoimg, .module_writemeimg, .module_foot {
  background-attachment:local; }

.section_wh_foot {
    padding-top: 50px;
    padding-bottom: 20px; }

.writeme{
  height:100%;
  min-height:390px;}

.c_form_title{
  font-size:2.2em;
  margin-bottom:50px;
  max-width:90%; }

.footin{
  float:none;
  width:100%;
  position:relative;
  margin:0 auto;
  margin-bottom:15px; }
.footsoc_cont{
  float:none;
  margin:0 auto;
  width:165px;}
.footsoc{
  float:left;
  width:55px !important;
  text-align:center; }

.footrowdw{
  float:none;
  width:100%;
  position:relative;
  text-align:center;
  margin:0 auto 30px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-weight:400;}

.st0{fill:none;stroke:#fdfdfd;stroke-width:1;stroke-miterlimit:10;}

.text {
  /*height:144px;*/
  height:auto;
  margin-top:0px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-weight:400; }
.foot{
  padding-top:0px;}

#service{
  height:44px;
  width:100%; }
#works, #video {
  height:44px;
  width:100%; }
#contact{
  height:45px;
  width:100%;}

}

@media only screen and (max-width: 380px) {

.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }

.service_texxt{
  width:178px; }
.service_texxt_1{
  width:164px;}
.service_texxt_2{
  width:180px;}
  
/*.container_intro{
  top:25%;
  left:0;
  transform: translate(-0%, -25%);
  height:450px;
  width:100%; }*/
.introsvg{
  width:100px;
  /*height:auto;*/
  float:none;
  position:relative;
  overflow:hidden;
  margin-bottom:16px; }
.row{
  font-size:2.5em;
  font-weight:400;
  text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased; }
.row2{
  margin:10px auto;
  width:85%;}

.row3{
  width:85%;
  top:31%;
  left: 8%; }
}

@media only screen and (max-width: 319px ) {
body{ font-size:8px;}

.service_texxt{
  width:170px; }
.service_texxt_1{
  width:149px;}
.service_texxt_2{
  width:165px;}
  
.container_intro{
  height:376px;
  margin:0 auto;}
  
.row{ font-size:1.8em;}

.row3{
  width:85%;
  top:34%;
  left: 8%;}

a.down_arrow{
  margin-top:0px;}

.txt_margin{
  margin-top:-3px;}
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (device-aspect-ratio: 2/3) and (-webkit-min-device-pixel-ratio : 2) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  height:293px;
  top:3%; }
.row{
  font-size:2.15em; }
.row2{
  font-size: 1.32em;
    width: 100%;
    max-width: 460px;
  margin-top:0px; }
.downarrow_cont {
    bottom: -5px; }
.introsvg{
  margin-bottom:10px; }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) and (device-aspect-ratio: 2/3) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  height:353px;
  top:3%; }
.row{
  font-size:2.5em;
  width:100%; }
.row2{
  font-size: 1.4em;
    width: 100%;
    max-width: 275px; }
.downarrow_cont {
    bottom: 0px; }
.introsvg{
  margin-bottom:25px; }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71){
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  height:293px;
  top:45%; }
.row{
  font-size:2.39em; }
.row2{
  font-size: 1.32em;
    width: 100%;
    max-width: 500px; }
.downarrow_cont {
    bottom: 0px; }
.introsvg{
  margin-bottom:10px;
  width:120px; }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71){
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  height:353px;
  top:50%;
  /*transform: translate(-0%, -50%);*/ }
.row{
  font-size:2.5em;
  width:100%; }
.row2{
  font-size: 1.4em;
    width: 100%;
    max-width: 275px; }
.downarrow_cont {
    bottom: 0px; }
.introsvg{
  margin-bottom:25px; }
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  height:302px;
  top:49%; }
.row{
  font-size:2.75em;
      width: 100%;
    max-width: 555px; }
.row2{
  font-size: 1.57em;
    width: 100%;
    max-width: 560px; }
.downarrow_cont {
    bottom: 0px; }
.introsvg{
  margin-bottom:10px; }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  height:358px;
  top:50%;
  /*transform: translate(-0%, -50%);*/ }
.row{
  font-size:2.6em;
  max-width:330px; }
.row2{
  font-size: 1.4em;
    width: 100%;
    max-width: 285px; }
.downarrow_cont {
    bottom: 0px; }
.introsvg{
  margin-bottom:25px; }
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  height:307px;
  top:50%; }
.row{
  font-size:3em;
      max-width: 605px;
    width: 100%;
}
.row2{
  font-size: 1.72em;
    width: 100%;
    max-width: 600px; }
.downarrow_cont {
    bottom: 0px; }
.introsvg{
  margin-bottom:10px; }
}
/* iPhone 7 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  height:302px;
  top:49%; }
.row{
  font-size:2.75em;
      width: 100%;
    max-width: 555px; }
.row2{
  font-size: 1.57em;
    width: 100%;
    max-width: 560px; }
.downarrow_cont {
    bottom: 0px; }
.introsvg{
  margin-bottom:10px; }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  height:358px;
  top:50%; }
.row{
  font-size:2.6em;
  max-width:330px; }
.row2{
  font-size: 1.4em;
    width: 100%;
    max-width: 285px; }
.downarrow_cont {
    bottom: 0px; }
.introsvg{
  margin-bottom:25px; }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  height:398px;
  top:50%; }
.row{
  font-size:3em;
  max-width:330px;
  width:100%; }
.row2{
  font-size: 1.4em;
    width: 100%;
    max-width: 285px; }
.downarrow_cont {
    bottom: 0px; }
.introsvg{
  margin-bottom:25px; }
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  height:307px;
  top:50%; }
.row{
  font-size:3em;
      max-width: 605px;
    width: 100%;
}
.row2{
  font-size: 1.72em;
    width: 100%;
    max-width: 600px; }
.downarrow_cont {
    bottom: 0px; }
.introsvg{
  margin-bottom:10px; }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  height:379px;
  top:50%;
  /*transform: translate(-0%, -35%);*/ }
.row{
  font-size:3em;
  max-width:330px;
  width:100%; }
.row2{
  font-size: 1.7em;
    width: 100%;
    max-width: 322px; }
.downarrow_cont {
    bottom: 0px; }
.introsvg{
  margin-bottom:25px; }
}

/* Samsung Nexus 5X ----------- */
@media only screen and (min-device-width: 412px) and (max-device-height: 732px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  height:307px;
  top:50%; }
.row{
  font-size:3em;
      max-width: 605px;
    width: 100%;
}
.row2{
  font-size: 1.72em;
    width: 100%;
    max-width: 600px; }
.downarrow_cont {
    bottom: 0px; }
.introsvg{
  margin-bottom:10px; }
}

@media only screen and (min-device-width: 412px) and (max-device-height: 732px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  height:379px;
  top:50%;
  /*transform: translate(-0%, -35%);*/ }
.row{
  font-size:3em;
  max-width:330px;
  width:100%; }
.row2{
  font-size: 1.7em;
    width: 100%;
    max-width: 322px; }
.downarrow_cont {
    bottom: 0px; }
.introsvg{
  margin-bottom:25px; }
}


/* Huawei P7------- */
@media screen and (min-device-width: 360px) and (max-device-height: 592px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  height:265px;
  top:50%; }
.row{
  font-size:2.63em;
      max-width: 585px;
    width: 100%;
}
.row2{
  font-size: 1.5em;
    width: 100%;
    max-width: 585px; }
.downarrow_cont {
    bottom: 0px; }
.introsvg{
  margin-bottom:10px;
    width: 100px; }
}
@media screen and (min-device-width: 360px) and (max-device-height: 592px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  height:350px;
  top:50%; }
.row{
  font-size:3em;
      max-width: 340px;
    width: 100%;
}
.row2{
  font-size: 1.72em;
    width: 100%;
    max-width: 340px; }
.downarrow_cont {
    bottom: 0px; }
.introsvg{
  margin-bottom:10px; }
}
@media only screen and (min-width: 1921px) {
.section_wh, .section_wh2 {
  padding-bottom:100px;
  padding-top:100px;}
.section_wh_foot{
  padding-top:100px;}

.parallax_foot {
  /*z-index:3;*/
  overflow:hidden;
  position: relative;
  height:450px;
  margin-bottom:0px;
  margin-top:0px; }

.linesvg{
  height:5px;
  bottom:0;}
.st10{
  -o-transform: skewY(-4.5deg);
  -ms-transform: skewY(-4.5deg);
  -webkit-transform: skewY(-4.5deg);
  transform: skewY(-4.5deg);}

.linesvg_a{
  height:99%;
  bottom:0;}
.st11{
  stroke-width:2;
  -o-transform: skewY(4.5deg);
  -ms-transform: skewY(4.5deg);
  -webkit-transform: skewY(4.5deg);
  transform: skewY(4.5deg);}

.linesvg_b{
  height:5px;
  bottom:0px;}
.st12{
  -o-transform: skewY(-4.5deg);
  -ms-transform: skewY(-4.5deg);
  -webkit-transform: skewY(-4.5deg);
  transform: skewY(-4.5deg);}
  
}



@media only screen and (max-width: 799px) {
.module_videoimg, .module_foot {
  background-attachment:local;
   }
  
.module_videoimg {
  background-size:auto 100%;
  overflow:hidden;
  background-position: 80% 100%;
  top:-50%;
  bottom:-50%;
  left:0;
  right:0; }

.introsvg{
  margin-bottom:15px;}

.container {  
  margin:0 auto;
  width:83%; }

.cookie_container{
  width:83%; }

}
@media only screen and (min-width: 799px) and (max-width: 969px) {
body{ font-size:9.5px;}

.cont_skillsimg{
  min-height:263px; }

.container {
  width: 98%; }
.row{
  font-size:3.5em;
  width:100%;}
.row2{
  width:100%;}

.section_wh_foot {
    padding-bottom: 68px; }
.writeme{
  height:100%;
  min-height:340px;}

.text {
  width:95%;}

}


@media only screen and (max-width: 1463px) {  
.cont_skillsimg{
  min-height:276px; }
}
@media only screen and (max-width: 1400px) {

body{ font-size:10px;}

.service_texxt{
  width:180px; }
.service_texxt_1{
  width:179px;}
.service_texxt_2{
  width:195px;}
  
.cont_skillsimg{
  min-height:276px; }

}

@media only screen and (max-width: 1100px) {
body{ font-size:9.5px;}

.service_texxt{
  width:200px; }
.service_texxt_1{
  width:174px;}
.service_texxt_2{
  width:190px;}

.cont_skillsimg{
  min-height:252px; }
  
.writeme{
  height:100%;
  min-height:350px;}

.section_wh_foot{
  padding-bottom:67px;}

.c_form_title{
  font-size:2em; }
  
}
/* #Tablet (Portrait) */

@media only screen and (max-width: 799px) {
body{ font-size:9.5px;}
.section{
  padding-top:50px;
  padding-bottom:50px; }

.section_wh, .section_wh2{
  padding-top:50px;
  padding-bottom:50px; }
.section_wh_foot{
  padding-top:50px;
  padding-bottom:40px;}

.module_videoimg, .module_footimg {
  background-attachment:local; }
.module_footimg{
  background-position:bottom center;}

.parallax_foot {
  background-attachment:local;
  overflow:hidden;
  position: relative;
  height:250px;
  margin-bottom:0px;
  margin-top:0px; }
.footsvg{
  width:150px;
  height:auto;
  float:none;
  position:relative;
  overflow:hidden;}
#polaroid {
  width: 150px; 
  height: 171px;
  margin-top:10px; }
#polaroid1 {
  width: 150px;
  height:48px; }

.module_full_bg {
  background-position: 20% 50%;
  overflow:hidden; }

.introsvg{
  width:125px;
  /*height:auto;*/
  float:none;
  position:relative;
  overflow:hidden;}

.container_intro{
  top:50%;
  height:397px;
  margin:0 auto; }

.row{
  margin:0 auto;
  width:90%;
  margin-top:0px;
  font-size:3.2em;
  /*padding:0px 0px;*/ }
.row2{
  font-size:1.83em;
  width:90%;
  max-width:635px; }
.row3{
  width:80%;
  left:10%;
  top:45%;
   -webkit-transform: translate(-1%, -0%);
    -moz-transform: translate(-1%, -0%); 
    -ms-transform: translate(-1%, -0%);
    -o-transform: translate(-1%, -0%);
    transform: translate(-1%, -0%);
  font-size:2.3em;}
.linea{
  width:100%;
  text-align:center;
  bottom: 0px; }

.downarrow_cont{
  position:absolute;
  bottom:0px;
  left:0;
  right:0; }

/*.container {  
  margin:0 auto;
  width:83%; }*/

.service_texxt{
  width:190px;
  margin-bottom:50px !important; }
.service_texxt_1{
  width:164px;
  margin-bottom:50px !important;}
.service_texxt_2{
  width:180px;
  margin-bottom:50px !important;}

.boxskillsimg{
  margin:0 auto;
  margin-top:0px; }

.cont_skillsimg_left{
  width:auto; 
  float:none;
  height:auto; }
.cont_skillsimg_right{
  width:auto; 
  float:none;
  height:auto; }
.cont_skillsimg_right img, .cont_skillsimg_left img {
   margin-bottom:20px;}
.cont_skillsimg_right object, .cont_skillsimg_left object {
   margin-bottom:20px;
   width:100px;}
.cont_skillstext{
  width:100%;}

.skillsimg{
  padding: 0 0;
  width: 100%;
  min-height:150px;
  display:inline-block;
  float:left;
  position:relative;
  margin:25px 0 0; }

.skillsimg:first-child, .skillsimg:nth-child(2){
  margin-top:25px; }

.skillsimg img{
  width:100px;}
  
.cont_skillsimg{
  min-height:150px;
  padding:5% 5%;}

.skillstext{
  /*font-size:2em;*/
  width:100%;
  text-align:center;}

.proj_title{
  font-size:2.5em; }

.proj_desc{
  font-size:1.81em; }

.skilldesc {
  margin:0 auto; }

.module_videoimg {
  background-size:auto 100%;
  overflow:hidden;
  background-position: 80% 100%;
  top:-50%;
  bottom:-50%;
  left:0;
  right:0; }

div#cookieChoiceInfo {
  font-size:1em !important;
  line-height:25px; }

#cookieChoiceInfo > a:nth-child(2),a#cookieChoiceDismiss {
  margin-left: 10px!important; }

.writeme{
  height:100%;
  min-height:400px;}

.c_form_title{
  font-size:2.3em;
  margin-bottom:50px;
  max-width:80%; }

}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
.module_full_bg, .parallax_foot, .paraxal {
  background-attachment:local; }
.container_intro{
  top:50%;
  height:357px;
  margin:0 auto; }
.introsvg{
  width:130px;
  height:192px;
  bottom:10px;
  float:none;
  position:relative;
  }
#wolf{
  height:145px;}
#wolf1{
  height:40px;}
}
/*Banner ends*/
/*Navigation Bar starts*/

.logo_fg{ background-image:url(img/my_logo.png); background-size: 100%; background-repeat: no-repeat; background-position:center; width: 115px; padding:4px;/*max-width: 1920px;*/ height: 50px; margin: 0px auto; }

.logo_fg span{ width: 115px; height: 60px; text-align:center; margin: 0 auto; bottom:8%; left:50%; right:50%; margin-top:5%; background: url(img/my_logo.png); }

/* menu ----- */
#header.active {
  background-color:rgb(253,253,253);
  border-bottom: 1px solid #5a7077;
  height:65px;  }
#header{
  background-color:transparent;
  height:80px; 
  z-index:999; 
  width:100% !important; 
  position: fixed; 
  top:0px; }
#header.active, #header {
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -webkit-transition: all .5s;
    transition: all .5s;
    transition-property: initial;
    transition-duration: 0.5s;
    transition-timing-function: initial;
    transition-delay: initial; }

#parent_1.active{
  margin-top:0px; }
#parent_1 {
  font-weight:300;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  /*letter-spacing: 1em;*/
  width: 88.5%;
  max-width:1650px;
  position:relative;
  margin:0 auto;
  height:55px;
  margin-top:25px;
  overflow:hidden; }
#parent_1.active, #parent_1{
  -moz-transition: all .35s;
  -o-transition: all .35s;
  -ms-transition: all .35s;
  -webkit-transition: all .35s;
    transition: all .35s;
    transition-property: initial;
    transition-duration: 0.35s;
    transition-timing-function: initial;
    transition-delay: initial; }

.child_2 {
  width: auto;
  height: auto;
  float:right;
  margin-top:2px;
  letter-spacing: normal;
  white-space: normal;
  text-align: right;
  vertical-align: middle; }

.child_3 {
  width:auto;
  height:32px;
  float:left;
  /*background-size:275px 61px;*/
  margin-top:15px;
  margin-left:0px;
  font-weight:400;
  letter-spacing:.5px;
  color:#5a7077;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  cursor:pointer; }

.logo_fg_menu{
  opacity:.6;
  float:left;
  background:url(../images/fg_wh.png) no-repeat;
  background: url(../images/fg_wh.svg) no-repeat,
    linear-gradient(transparent, transparent);
  background-size: 100%;
  background-position:center; 
  width: 68px;
  height: 30px; 
  margin-top:2px;
  margin-left:0px;
  margin-right:10px; }

.logo_fg_menu.active{
  float:left;
  background:url(../images/fg_gr.png) no-repeat;
  background: url(../images/fg_gr.svg) no-repeat,
    linear-gradient(transparent, transparent);
  opacity:1; 
  background-size: 100%;
  background-position:center; 
  width: 68px;
  height: 30px; 
  margin-top:2px;
  margin-left:0px;
  margin-right:10px;
  -moz-transition: all .15s;
  -o-transition: all .15s;
  -ms-transition: all .15s;
  -webkit-transition: all .15s;
    transition: all .15s;}

.menu_user_img{
  background-image:url(../images/icons/menu/user160.png);
  background-repeat:no-repeat;
  background-size: 40px 40px;
  background-position:right;
  width:46px;
  height:46px;
  position: relative;
  display: inline-block;
  margin-bottom:-4px;
  position:relative;
  right:15px; }

.menu_service_img{
  background-image:url(../images/icons/menu/service.png);
  background-repeat:no-repeat;
  background-size: 38px 40px;
  background-position:right;
  width:46px;
  height:46px;
  position: relative;
  display: inline-block;
  top:0%;
  margin-bottom:-4px;
  position:relative;
  right:15px; }

.menu_works_img{
  background-image:url(../images/icons/menu/works.png);
  background-repeat:no-repeat;
  background-size: 38px 40px;
  background-position:right;
  width:50px;
  height:50px;
  position: relative;
  display: inline-block;
  top:0%;
  margin-bottom:-4px;
  right:15px; }
  /*-webkit-transform: translateY(50%);   vertical align */
  /*-ms-transform: translateY(50%);    vertical align */
  /*transform: translateY(50%);      vertical align */

.menu_video_img{
  background-image:url(../images/icons/menu/video.png);
  background-repeat:no-repeat;
  background-size: 40px 40px;
  background-position:right;
  width:50px;
  height:50px;
  position: relative;
  display: inline-block;
  top:0%;
  margin-bottom:-4px;
  right:15px; }
  /*-webkit-transform: translateY(50%);   vertical align */
  /*-ms-transform: translateY(50%);    vertical align */
  /*transform: translateY(50%);     vertical align */

.menu_write_img{
  background-image:url(../images/icons/menu/write.png);
  background-repeat:no-repeat;
  background-size: 36px 40px;
  background-position:right;
  width:50px;
  height:50px;
  position: relative;
  display: inline-block;
  top:0%;
  margin-bottom:-4px;
  right:15px; }
  /*-webkit-transform: translateY(50%);   vertical align */
  /*-ms-transform: translateY(50%);    vertical align */
  /*transform: translateY(50%);      vertical align */

.scrollup_cont{
  text-align:center;
  width:100%;
  display:inline-block;
  margin:50px auto 35px;
  vertical-align:middle;
  position:relative; }

a.scrollup {
  width:60px;
  height:38px;
   -webkit-font-smoothing: antialiased;
  display:inline-block;
  color:#5a7077;
  text-align:center;
  outline:none;
  overflow:hidden; }

.scrollup:hover {
  color:#1abc9c;
  -moz-transition: all .35s;
  -o-transition: all .35s;
  -ms-transition: all .35s;
  -webkit-transition: all .35s;
    transition: all .35s;
    transition-property: initial;
    transition-duration: 0.35s;
    transition-timing-function: initial;
    transition-delay: initial; }
a.scrollup, .scrollup:hover {
  -moz-transition: all .35s;
  -o-transition: all .35s;
  -ms-transition: all .35s;
  -webkit-transition: all .35s;
    transition: all .35s;
    transition-property: initial;
    transition-duration: 0.35s;
    transition-timing-function: initial;
    transition-delay: initial; }

.scrollup i {
  line-height: .3;
    height: 38px;
  font-size:8em;
    overflow: hidden; }

/*!
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */@font-face{font-family:'FontAwesome';src:url('../font/fontawesome-webfont.eot?v=4.3.0');src:url('../font/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),url('../font/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),url('../font/fontawesome-webfont.woff?v=4.3.0') format('woff'),url('../font/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),url('../font/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;transform:translate(0, 0)}.fa-3-4x{font-size:3.4em;font-weight:100;}.fa-angle-up:before{content:"\f106"}


@-ms-viewport { width:device-width;}
@viewport { width:device-width;}
.nome{
  display:inline-block;
  color:#5a7077;
  opacity:0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  /* -webkit-font-smoothing: antialiased;*/
  font-weight:400;
  font-size:1.5em;
  margin-top:5px;
  margin-left:5px; }
.nome.active{
  opacity:1;
  color:#5a7077;
  -moz-transition: all .35s;
  -o-transition: all .35s;
  -ms-transition: all .35s;
  -webkit-transition: all .35s;
    transition: all .35s;
    transition-property: initial;
    transition-duration: 0.35s;
    transition-timing-function: initial;
    transition-delay: initial; }
.menu-toggle {
  width: 40px;
  height: 30px;
  top: 8px;
  right: 0px;
  cursor: pointer;
  position: absolute;
  z-index:106;
  display:none; }

.menu-toggle.on .one {
  -moz-transform: rotate(45deg) translate(7px, 7px);
  -ms-transform: rotate(45deg) translate(7px, 7px);
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  transform: rotate(45deg) translate(7px, 7px); }

.menu-toggle.on .two {
    opacity: 0; }

.menu-toggle.on .three {
  -moz-transform: rotate(-45deg) translate(8px, -9px);
  -ms-transform: rotate(-45deg) translate(8px, -9px);
  -webkit-transform: rotate(-45deg) translate(8px, -9px);
  transform: rotate(-45deg) translate(8px, -9px); }

.one,
.two,
.three {
  width: 100%;
  height: 5px;
  background: #1abc9c;
  margin: 6px auto;
  backface-visibility: hidden;
  -moz-transition: all .35s;
  -o-transition: all .35s;
  -ms-transition: all .35s;
  -webkit-transition: all .35s;
    transition: all .35s;
    transition-property: initial;
    transition-duration: 0.35s;
    transition-timing-function: initial;
    transition-delay: initial; }

nav {
  margin: 0;
  z-index: 15; }

nav ul {
  margin: 0;
  overflow: hidden;
  margin-top:15px; }

nav li {
  float: left;
  list-style: none;
  padding-right: 25px; }

nav li:last-child{
  padding-right:0px; }

nav a{
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  color:rgb(253,253,253);
  opacity:.7;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size:1.7em;
  font-weight:300; }

nav a.active{
  opacity:1;
  color:#5a7077;
  font-size:1.7em;
  -moz-transition: all .35s;
  -o-transition: all .35s;
  -ms-transition: all .35s;
  -webkit-transition: all .35s;
    transition: all .35s;
    transition-property: initial;
    transition-duration: 0.35s;
    transition-timing-function: initial;
    transition-delay: initial; }

nav a:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease; }

nav .current a{ transition: width .5s ease, color .5s ease; }

nav .current a:after {
  width: 100%;
  background-color: #1abc9c; }

nav a:hover { transition: width .5s ease, color .5s ease; }
nav a:link { outline:none; }

nav a:hover:after {
  width: 100%;
  background-color: #1abc9c; }

.mobile-nav-container {
  top: 0px;
  color: #333;
  display: none;
  height: 50px;
  right: 0px;
  position: fixed;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  width: 50px;
  z-index: 10; }

.menu-toggle .nav-open { display: block; }

.menu-toggle .nav-close { display: none; }

.menu-toggle.active-nav .nav-open { display: none; }

.menu-toggle.active-nav .nav-close { display: block; }

/*.menu-toggle {
  top: 0px;
  display: none;
  right: 0px;
  position: absolute;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
  width: 50px;
  z-index: 100;
}*/

nav.active-nav li.show-nav {
  opacity: 1;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }

.nav-open,
.nav-close { width: 50%; }

.crop { overflow: hidden; }

@media (max-width: 1400px) {
.nome{
  font-size:1.7em;
  margin-top:10px;
  margin-left:5px; }

nav ul {
  margin-top:20px; }
nav a{
  font-size:1.9em;}

a.scrollup {
  height:28px;}
}

@media only screen and (max-width: 969px) {
#parent_1 {
  width: 93.5%;
  max-width:1700px; }
}

@media (max-width: 799px) {
#header.active{
  height:40px; }
#header{
  height:40px; }
#parent_1 {
  margin-top:0px;
  height:100% }
#parent_1.active {
  margin-top:0px}
.nome {
  font-size:14px;
  line-height:0.9;}
  
nav { display: none; }
nav li { display: none; }
.menu-toggle { display: block; }
.mobile-nav-container { display: block; }

.child_3{
  float:none; }

.child_2{
  float:none; }

nav{position:relative; }

nav ul{
   position: fixed;
   right:0px;
   left:0px;
  -webkit-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
  top:45.5%;
  height:80% !important; }

nav li{
  /*display:inline-block;*/
  float:none;
  width:100%;
  margin-bottom:0px;
  margin-left:-10px;
  height:15% !important;
  min-height:60px; }
  
nav a{
  line-height:58px;
  color:#5a7077;
   -webkit-font-smoothing: antialiased;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight:400;
  font-size:4em;
  width:90%;
  border:1px solid transparent; }


nav a.active{
  color:#5a7077;
  font-size:3.8em;}

nav a:hover{
  /*background-color:rgba(135,135,178,.9);  
  color:rgb(50,50,50);*/ }

nav .current a{
  /*border:1px solid #5a7077;
  border-radius:3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;*/
  color:#1abc9c; }

nav a:after {
  height:0px !important; }

.mobile-nav-container.active-nav {
  background: rgba(253,253,253, 0.95);
  height: 100%;
  width:100%; }

nav.active-nav {
  background: none;
  display: block;
  padding-top: 50px;
  position: fixed;
  width: 100%;
  top:50px;
  left:0px;
  right:0px; }

nav.active-nav ul {
  height:100%;
  /*margin-top:-50px;*/ }

nav.active-nav li {
  display: block;
  float: none;  
  height:20%;
  padding:2% auto;
  opacity: 0;
  text-align: center;
  width:100%;
  padding-right:0px; }

}

@media screen and (min-width: 480px) and (max-width:799px) {
#header{
  height:40px; } 

#parent_1{
  height:40px;
  width:83%; }

.logo_fg_menu, .logo_fg_menu.active{
  width:43px;
  height:19px;
  margin-top:-4px; }


.nome{
  font-weight:400;
  margin-top:2px; }
  
.menu-toggle {
  width: 30px;
  height: 20px;
  right: 0px;
  margin-top:-2.5px;
  z-index:106; }

.menu-toggle.on .one {
  -moz-transform: rotate(45deg) translate(5px, 6px);
  -ms-transform: rotate(45deg) translate(5px, 6px);
  -webkit-transform: rotate(45deg) translate(5px, 6px);
  transform: rotate(45deg) translate(5px, 6px); }

.menu-toggle.on .two {
  opacity: 0; }

.menu-toggle.on .three {
  -moz-transform: rotate(-45deg) translate(5px, -7px);
  -ms-transform: rotate(-45deg) translate(5px, -7px);
  -webkit-transform: rotate(-45deg) translate(5px, -7px);
  transform: rotate(-45deg) translate(5px, -7px); }

.one,
.two,
.three {
  height: 3px;
  margin: 5px auto; }

nav a{
  line-height:50px;
  font-size:3.5em;}
  
}

@media screen and (min-width: 0px) and (max-width:750px) {
nav ul{
  top:34%;}
}
@media screen and (min-width: 0px) and (max-width:600px) {
nav ul{
  top:28%;}
}

@media screen and (min-width: 0px) and (max-width:480px) {
#header{
  height:45px; }

#parent_1{
  height:45px;
  width:92%; }

.menu-toggle{
  top:6px;}

.child_3{
  margin-top:10px;}

.nome{
  margin-top:6px; }

.logo_fg_menu, .logo_fg_menu.active{
  width:45px;
  height:20px;
  margin-top:0px; }

.menu-toggle {
  width: 30px;
  height: 20px;
  right: 0px;
  margin-top:0px;
    z-index:106; }

.menu-toggle.on .one {
  -moz-transform: rotate(45deg) translate(5px, 6px);
  -ms-transform: rotate(45deg) translate(5px, 6px);
  -webkit-transform: rotate(45deg) translate(5px, 6px);
  transform: rotate(45deg) translate(5px, 6px); }

.menu-toggle.on .two {
  opacity: 0; }

.menu-toggle.on .three {
  -moz-transform: rotate(-45deg) translate(5px, -7px);
  -ms-transform: rotate(-45deg) translate(5px, -7px);
  -webkit-transform: rotate(-45deg) translate(5px, -7px);
  transform: rotate(-45deg) translate(5px, -7px); }

.one,
.two,
.three {
  height: 3px;
  margin: 5px auto; }

nav ul{
  top:44.15%;
  height:80% !important; }

nav li{
  height:15% !important; }
  
nav a{
  line-height:48px;
  font-size:3.25em;}
nav a.active{
  font-size:3.25em;}

}

@media only screen and (max-width: 380px) {

.nome{ font-size: 1.5em;}

}


/* border------- */

.box {
 /*width: 400px;
  height: 250px;
  background: #3084AC;
  margin: auto;
  text-align: center;
  color: #fff;
  top: 50px;
  cursor: pointer;*/
  position: relative;
  border: 2px solid rgb(232,232,232);
  transition: .5s ease;
}
.box:before {
  position: absolute;
  width: 0;
  height: 1px;
  content: '';
  /*background:#1abc9c;*/
  background:#547077;
  top: -2px;
  left: -2px;
  transition: 250ms width ease 0ms;
  -web-kit-transition: 250ms width ease 0ms;
}
.box:after {
  position: absolute;
  width: 1px;
  height: 0;
  content: '';
  background: #547077;
  top: -2px;
  right: -2px;
  transition: 250ms height ease 0ms;
  -web-kit-transition: 250ms height ease 0ms;
}
.box-inner:after {
  position: absolute;
  width: 0;
  height: 1px;
  content: '';
  background: #547077;
  bottom: -2px;
  right: -2px;
  transition: 250ms width ease 0ms;
  -web-kit-transition: 250ms width ease 0ms;
}
.box-inner:before {
  position: absolute;
  width: 1px;
  height: 0;
  content: '';
  background: #547077;
  bottom: -2px;
  left: -2px;
  transition: 250ms height ease 0ms;
  -web-kit-transition: 250ms height ease 0ms;
}
.box:hover {
  /* border-color: transparent;
 background: red;*/
}
.box:hover:before {
  width: 100.5%;
  transition: 250ms width ease 0ms;
  -web-kit-transition: 250ms width ease 0ms;
}
.box:hover:after {
  height: 100.5%;
  transition: 250ms height ease 0s;
  -web-kit-transition:250ms height ease 0ms;
}
.box:hover .box-inner:after {
  width: 100.5%;
  transition: 250ms width ease 0ms;
  -web-kit-transition: 250ms width ease 0ms;
}
.box:hover .box-inner:before {
  height: 100.5%;
  transition: 250ms height ease 0s;
  -web-kit-transition:250ms height ease 0ms;
}

@media only screen and (max-width: 767px) {
/*.box{
  border:1px solid #1abc9c;}*/
.box:hover:before {
  width: 0%;
}
.box:hover:after {
  height: 0%;
}
.box:hover .box-inner:after {
  width: 0%;
}
.box:hover .box-inner:before {
  height: 0%;
}

}

/* /border/-------- */


/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes fadeInGreen {
  from {
    opacity: 0;
    color: #fdfdfd;
  }
  50% {
    opacity:50%;
    color: #fdfdfd;
  }
  to {
    opacity: 1;
    color:#1abc9c;
  }
}

@-moz-keyframes fadeInGreen {
  from {
    opacity: 0;
    color: #fdfdfd;
  }
  50% {
    opacity:50%;
    color: #fdfdfd;
  }
  to {
    opacity: 1;
    color:#1abc9c;
  }
}
@-ms-keyframes fadeInGreen {
  from {
    opacity: 0;
    color: #fdfdfd;
  }
  50% {
    opacity:50%;
    color: #fdfdfd;
  }
  to {
    opacity: 1;
    color:#1abc9c;
  }

}

@keyframes fadeInGreen {
  from {
    opacity: 0;
    color: #fdfdfd;
  }
  50% {
    opacity:50%;
    color: #fdfdfd;
  }
  to {
    opacity: 1;
    color:#1abc9c;
  }
}

.fadeInGreen {
  -webkit-animation-name: fadeInGreen;
  -moz-animation-name: fadeInGreen;
  -ms-animation-name: fadeInGreen;
  animation-name: fadeInGreen;
  -webkit-animation-duration: 3.2s;
  -moz-animation-duration: 3.2s;
  -ms-animation-duration: 3.2s;
  animation-duration: 3.2s;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-moz-keyframes pulse {
  from {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -moz-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-ms-keyframes pulse {
  from {
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -ms-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-moz-keyframes fadeInLeft {
  from {
    opacity: 0;
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -moz-transform: none;
    transform: none;
  }
}
@-ms-keyframes fadeInLeft {
  from {
    opacity: 0;
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -ms-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-moz-keyframes fadeInUp {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -moz-transform: none;
    transform: none;
  }
}
@-ms-keyframes fadeInUp {
  from {
    opacity: 0;
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -ms-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -ms-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes slideInUp {
  from {
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-ms-keyframes slideInUp {
  from {
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  -moz-animation-name: slideInUp;
  -ms-animation-name: slideInUp;
  animation-name: slideInUp;
}

/*Navigation Ends*/

